/*  JavaScript 6th Edition
      Chapter 1
      Chapter Individual Case

      Twilight Runners
      Case Project
      Author: Christina Sereday
      Date:   01/28/2021
      Last Modified: 02/22/2021

      Filename: runners.css
      Template from Tinley plant project Ch1.

/*Media Query for Desktop and tablet viewports */      
@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }

    /* container */
    #container {
        background: #dadad4;
    }

    ul {
        list-style-type: none;
        line-height: 1.5;
    }

    body {

        max-width: 100%;
        background: #dadad4;
        margin: 0 auto;
        font-family: Verdana, Geneva, sans-serif;
    }


        a:link,
        a:visited {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            text-decoration: underline;
            color: ghostwhite;
        }

        a:active {
            text-decoration: none;
            color: inherit;
        }

        /* page header */
        header  {
            background: #152349;
            max-width: 100%;
            padding-right: 3em;
            padding-left: 3em;
            position: -webkit-sticky;/*sticky header*/
            position: sticky;/*sticky header*/
            margin-bottom: 1em;
        }

        header h1 {
            font-family: 'Yellowtail', cursive;
            color: white;
            font-size: 5em;
            text-align: left;
            position: inherit;
            padding: 1%;
            clear: right;
        }


        #logo1 {
            max-width: 100%;
            padding-top: 1%;
            padding-left: 2%;
            margin-right: 4%;
            margin-left: 2%;
            float: left;
            transform: scale(.5);

        }

        /* Tablet/ desktop Viewports:  navigation style rules*/
        nav {
            background: #dadad4;
            width: 100%;
            margin-left: 20%;
        }


        nav ul li {
            display: inline-block;
            text-align: center;
            font-family: 'Overpass', sans-serif;
            font-size: 1.25em;
            color: ghostwhite;
            padding: .75em 1em;
            background: #5797B8;
            -moz-border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;

        }

    /* sidebar */
    aside {

        float: left;
        background: #dadad4;
        clear: left;
        overflow:auto;
    }

    aside ul {
        padding: 20px;
    }

    aside ul li {
        padding: 10px;
        font-size: 1.5em;
    }

    aside ul li:hover {
        color: ghostwhite;
        background: #5797B8;
    }

    .social {
        display: inline-block;
        padding: 1em;
        margin-left: 2em;
    }
    /*Forms section in index file*/

    input {
        margin-left: 30px;
    }

    #sevent {
        background-color: ghostwhite;
    }

    .form_calculations {
        background-color:#5797B8;
        border-style:outset;
        border-width: .5em;
    }

    /*Main article section*/
    article {
        text-align: left;
        background: #5797B8;
        padding-bottom: 10%;
        padding-top:0%;
    
    }

    h2 {
        text-align: center;
        font-family: 'Overpass', sans-serif;
        font-weight:bold;
        font-size: 1.5em;
        padding: 1em;
    }

    p {
        line-height: 1.5em;
        font-size: 1.25em;
        font-family: 'Overpass', sans-serif;
        font-weight:100;
        padding: 1em;
    }

    article ul li {
        padding: 10px;
        font-size: 1.5em;
        text-align: center;
    }


    /* Main page logo animation/ styling */

    #Lg_Logo {
        max-width: 50%;
        float: left;
    }

    #Lg_Logo:hover  {
        animation: slidein 1s ease-in forwards;
    }

    @keyframes slidein {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(50%) skewX(-4deg);
        }
        
        75% {
            transform: translateX(75%) skewX(-8deg);
        }
    100% {
        transform: translateX(100%) skewX(0);;
    }

    }
    /*Figure & image styling*/
    img {
        max-width: 80%;
    }

    figure {
        max-width: inherit;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        margin-top: 0;
        margin-bottom: 3em;
    
    }

    figcaption {
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
        font-size: 1em;
        position:inherit;

    }



    /*List specific to the "join" page styling */
    #join_list {
        list-style-type: "\1F44D";
        /*thumbs up sign*/
        margin-left: 25px;
        line-height: 1.5;
    }

    /*List specific to the "steps_spots" page styling*/
    #loc_list {
        list-style-type: square;
        margin-left: 25px;
        line-height: 1.5;
    }


    /* footer */
    footer {
        background: #152349;
        color: white;
        width: 100%;
        clear: both;
        font-size: 14px;
        padding: 10px;
    }

    footer p {
        text-align: center;
    }

    /*timer box page */
    #timerbox main {
        width: 70%;
        height: 20%;
        background: #dadad4; 
        border-radius: 1em;
        border-style:inset;
        text-align: center;
    }

    #timerbox main h4 {
        text-align: center;
    }

    /*table styling */
    table {
        clear: both;
    }
    #tablefoot {
        padding: 1em;
        
    }
}
/* Media Query for Phone Viewport */
@media only screen and (max-width: 767px) {

    /*Mobile Viewport: header */
    header {
        background: #152349;
        width: 100%;
        margin-bottom: 1em;
    }

    h1 {
        font-family: 'Yellowtail', cursive;
        color: white;
        font-size: 3em;
        text-align: left;
        position: inherit;
        padding: 5%;
        clear: right;
    }


    header #logo1 {
        max-width: 20%;
        padding-top: 3%;
        padding-left: 4%;
        margin-right: 5%;
        margin-left: 5%;
        float: left;
        transform: scale(0.5);
    }
    /*Mobile Viewport:  mobile hamburger nav menu*/
    .mobile {
        display: block;
    }

    .tablet-desktop {
        display: none;
    }

    .mobile-nav a {
        color: #5797B8;
        font-family: 'Overpass', sans-serif;
        text-align: center;
        font-size: 2em;
        display: block;
    }

    .mobile-nav a.menu-icon {
        display: block;
        position: relative;
        left: 2%;
        top: 2%;
    }
}